<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Welcome to the PClub, IIT Kanpur's Leaderboard.</p>

<p>
    Log your programming activities on the requests page - the one with the most
    points gets goodies at the end of each month!
</p>
<p>
    Alternatively, check out the current leaderboard
</p>
