<h2><%= @user.name %></h2>

<table class="show-table">
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Type</th>
    <th>Description and Link</th>
    <th>Approval Status</th>
    <th>Points</th>
  </tr>
  <% @user_tickets.each do |ut| %>
  <tr>
    <%= render ut %>
  </tr>
  <% end %>
</table>
<%= will_paginate @user_tickets %>
