@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
@font-face {
    font-family:"STARWARS";
    src: url("star-wars-font/STARWARS.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Geogrotesque-Light';
    src: url("star-wars-font/Geogrotesque-Light_gdi.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

/* For stary background */
// n is number of stars required
@function multiple-box-shadow($n) {
    $value: "#{random(200)}vmax #{random(200)}vmax #FFF";

    @for $i from 2 through $n {
        $value: "#{$value} , #{random(200)}vmax #{random(200)}vmax #FFF";
    }

    @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);
$star-speed: 100s;

#stars {
    width: 1px;
    height: 1px;
    z-index: -100;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 3*$star-speed linear infinite;

    &:after {
        content: " ";
        position: absolute;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    z-index: -100;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 2*$star-speed linear infinite;

    &:after {
        content: " ";
        position: absolute;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    z-index: -100;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar $star-speed linear infinite;

    &:after {
        content: " ";
        position: absolute;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-200vmax);
    }
}

/* For stary background */

$heading-font: 'Source Sans Pro', sans-serif;
$star-wars: 'STARWARS', sans-serif;
$font: 'Open Sans', sans-serif;
$footer-font: 'Geogrotesque-Light', sans-serif;
// Colors:
$dark-blue: #002171;
$blue: #1565c0;
$light-grey: #999;
$dark-grey: #1a1a1a;
$grey: #333;
$back-block: #282727;
$row-font1: #3273c5;
$row-font2: #e15021;

.login-heading {
    text-align: center;
    color: $light-grey;
    font-family: Geogrotesque-Light;
}

.credentials {
    color: $light-grey;
}

.fancy-button {
    border-radius: 5px;
    background: $grey;
    -webkit-transition : color 0.5s, background-color 0.5s;
    -o-transition : color 0.5s, background-color 0.5s;
    -moz-transition : color 0.5s, background-color 0.5s;
    transition : color 0.5s, background-color 0.5s;
    color: $light-grey;
    border: 0px;
    &:hover {
        background: black;
        color: white;
    }
}

html {
    height: 100%;
    body {
        font-family: $font;
        display: flex;
        min-height: 100%;
        margin: 0px;
        flex-flow: column nowrap;
        align-items: stretch;
        background: black; /* Don't support gradient */
        background: -webkit-radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); /*Safari*/
        background: -o-radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); /*Opera 11.6 to 12.0*/
        background: -moz-radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); /*Firefox 3.6 to 15*/
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); /* Standard syntax */
        background-size: 200vmax 200vmax; // milindl: this means pages with a length/width larger than 200vmax will break
        background-position: center;
        header {
            background: $dark-grey;
            box-shadow: 0 10px 20px rgba(0,0,0,0.02), 0 6px 6px rgba(0,0,0,0.05);
            padding: 1vh 5vw;
            display: flex;
            justify-content: space-between;
            .logocontainer {
                display: flex;
                font-size: 2em;
                align-items: center;
                a {
                    font-family: $star-wars;
                    font-variant: small-caps;
                    text-decoration: none;
                    color: white;
                }
            }
            nav {
                ul {
                    list-style-type: none;
                    li {
                        display: inline-block;
                        padding: 0.4em 0.5em;
                        -webkit-transition : background-color 0.5s;
                        -o-transition : background-color 0.5s;
                        -moz-transition : background-color 0.5s;
                        transition : background-color 0.5s;
                        &.add-request {
                            @extend .fancy-button;
                            a {
                                color: $light-grey;
                                &:hover {
                                    color: white;
                                }
                            }
                        }
                        a {
                            -webkit-transition : color 0.5s;
                            -o-transition : color 0.5s;
                            -moz-transition : color 0.5s;
                            transition : color 0.5s;
                            color: $light-grey;
                            text-decoration: none;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        #maincontent {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 5vw;
            display: flex;
            flex-grow: 1;
            flex-flow: column nowrap;
            align-items: stretch;
            .flash {
                padding: 0.5em;
                margin: 3vw auto;
                margin-bottom: 0px;
                width: 90%;
                border-radius: 5px;
                border: 1px solid;
                &.flash-success {
                    border-color: green;
                    background: #9fa;
                }
                &.flash-error {
                    background: $back-block;
                    color: $light-grey;
                    border-color: transparent;
                    text-align: center;
                }
            }

            .standings_heading {
                text-align: center;
                color: $light-grey;
                font-family:Geogrotesque-Light;
            }

            .user-heading {
                text-align: center;
                color: $light-grey;
                font-family:Geogrotesque-Light;
            }

            table {
                margin: 1vw auto;
                border-collapse: collapse;
                width: 100%;
                background: $dark-grey;
                border-radius: 10px;
                padding: 1em;
                color: $light-grey;
                tr {
                    &:first-child {
                        border-bottom: 1px solid $light-grey;
                    }
                    td, th {
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;
                        text-align: center;
                        &:nth-child(2) {
                            a {
                                color: $light-grey;
                                text-decoration: none;
                                &:hover {
                                    color: white;
                                    text-decoration: underline;
                                }
                            }
                        &:nth-child(4) {
                            a {
                                color: $light-grey;
                                text-decoration: none;
                                &:hover {
                                    color: white;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                //                tr:nth-child(2n+1) {
                //                    border: 1px solid $row-font1;
                //                    border-bottom: 10px solid $row-font1;
                //                }
                //                tr:nth-child(2n) {
                //                    border: 1px solid $row-font2;
                //                    border-bottom: 10px solid $row-font2;
                //                }
            }
            div.pagination {
                width: 100%;
                text-align: center;
            }
            
            .help_heading {
                text-align: center;
                color: $light-grey;
                font-family:Geogrotesque-Light;
            }

            .helpmanual {
                color: $light-grey;
                padding: 1em;
                border-radius: 10px;
                background: $dark-grey;
            }

            .ticket_heading {
                color: $light-grey;
                font-family:Geogrotesque-Light;
            }

            .formcontainer {
                color: $light-grey;
                padding: 1em;
                border-radius: 10px;
                background: $dark-grey;
                width: 93%;
                max-width: 528px;
            }
            form {
                width: 100%;
                label {
                    margin-top: 1em;
                }
                input, select, textarea {
                    display: block;
                    margin: 0px;
                    color: $light-grey;
                    border: 1px solid transparent;
                    //                    border-bottom: 1px solid $light-grey;
                    background: $back-block;
                    border-radius: 5px;
                    margin-bottom: 1em;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    min-width: 100%;
                    max-width: 528px;
                    -webkit-transition: border-color 0.5 ease;
                    -o-transition: border-color 0.5 ease;
                    -moz-transition: border-color 0.5 ease;
                    transition: border-color 0.5 ease;
                    &[type=submit] {
                        font-size: 1rem;
                        @extend .fancy-button;
                        padding: 1em 2em;
                        cursor: pointer;
                    }
                    &:focus {
                        outline: 0px;
                        border: 1px solid $light-grey;
                        border-radius: 5px;
                    }
                    option {
                        background-color: $back-block;
                        color: $light-grey;
                        &:hover {
                            color: white;
                            background-color: black;
                        }
                    }
                }
                textarea {
                    height: 20vh;
                }
            }
        }

        footer {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 272px;
            margin: 0px;
            padding: 0px;
            color: $light-grey;
            font-family: $footer-font;
            background: url('https://static-mh.content.disney.io/starwars/assets/footer/vader-1c0fe900f0e4.jpg') no-repeat center, $dark-grey;

            h3 {
                font-variant: small-caps;
                text-align: center;
            }
            .social-links {
                display: none; // TODO: add icons and make this visible
                text-align: center;
                h4 {
                    text-align: center;
                }
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;

                    li {
                        display: inline-block;
                    }
                }
            }
            section.flex-footer {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                section {
                    width: 100%;
                    text-align: center;
                    nav {
                        ul {
                            margin: auto 0;
                            padding: 1em;
                            li {
                                list-style-type: none;
                                a {
                                    color: $light-grey;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 768px) {
        body {
            header {
                flex-flow: column nowrap;
                align-items: center;
                box-shadow: none;
                margin: 0px;
                padding: 0px;
                .logocontainer {
                    text-align: center;
                    margin-top: 3vw;
                }
                nav {
                    display: block;
                    box-shadow: 0 0px 20px rgba(0,0,0,0.09), 0 0px 16px rgba(0,0,0,0.32);
                    background-color: $grey;
                    top: 0px;
                    left: 0px;
                    margin-top: 3vw;
                    width: 100%;
                    ul {
                        text-align: center;
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;
                        li, li.add-request {
                            width: 33.33%;
                            margin: 0px;
                            padding: 10px;
                            border-radius: 0px;
                            display: inline-block;
                            background: transparent;
                            &:hover {
                                background: black;
                            }
                            a {
                                color: $light-grey;
                                font-size: 0.7em;
                                &:hover {
                                    color: white;
                                }
                            }
                            & ::before {
                                display: block;
                                font-size: 2rem;
                            }
                        }
                        li.add-request ::before {
                            content: "+";
                            cursor: pointer;
                        }
                        li.leaderboard-path ::before {
                            content:'\2630';
                            cursor: pointer;
                        }
                        li.help-path ::before {
                            content:'?';
                            cursor: pointer;
                        }

                    }
                }
            }
            #maincontent {
                width: 95%;
                .formcontainer {
                    margin: auto;
                }
                form {
                    input, select, textarea {
                        width: 90vw;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                table.show-table {
                    tr {
                        td:nth-child(1), th:nth-child(1), td:nth-child(2), th:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
            footer {
                h4 {
                    width: 100%;
                }
                section.flex-footer {
                    width: 100%;
                }
            }
        }
    }
}
