<footer>
    <h3>LEADERBOARD</h3>
    <div class="social-links">
        <h4>More about PClub on:</h4>
        <ul id="social-link-icons">
             <li>
                <a class="pclub-icon" href="pclub.in" target="_blank"></a>
            </li>
            <li>
                <a class="facebook-icon" href="https://facebook.com/groups/pclubiitk" target="_blank"></a>
            </li>
            <li>
                <a class="github-icon" href="https://github.com/pclubiitk" target="_blank"></a>
            </li>
            <li>
                <a class="twitter-icon" href="https://twitter.com/pclubiitk" target="_blank"></a>
            </li>
        </ul>
    </div>
  <section class="flex-footer">
    <section>
      <nav>
        <ul>
          <li><%= link_to "Official Site", 'http://pclub.in'  %></li>
          <li><%= link_to "Official Email", 'mailto:pclubiitk@gmail.com'  %></li>
          <li><%= link_to "Contribute Code", 'https://github.com/milindl/leaderboard' %></li>
        </ul>
      </nav>
    </section>
  </section>
</footer>
