<footer>
    <nav>
        <ul>
            <li><%= link_to "Programming Club Site",   'http://pclub.in'  %></li>
            <li><%= link_to "Github Repository", '#' %></li>
        </ul>
    </nav>
</footer>
