<header>
    <div class ="logocontainer">
        <%= link_to "STARBOARD", root_path,id: "logo" %>
    </div>
    <nav>
      <ul>
        <li class="help-path"><%= link_to "Help", help_path %></li>
        <li class="leaderboard-path"><%= link_to "Standings", leaderboard_path %></li>
        <li class="add-request"><%= link_to "Add Request", tickets_new_path %></li>
      </ul>
    </nav>
</header>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
